.c-section-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: $gray-900;

    &--sm {
        font-size: 1.75rem;
    }

    &--lg {
        font-size: 2.25rem;
    }

    @include viewport-min(lg) {
        font-size: 2.5rem;

        &--sm {
            font-size: 2rem;
        }

        &--lg {
            font-size: 3rem;
        }
    }
}
.c-section-subtitle {
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 300;
    color: $gray-900;

    &--sm {
        margin: .75rem 0 0;
        font-size: 1rem;
    }

    &--lg {
        margin: 1.25rem 0 0;
        font-size: 1.25rem;
    }

    @include viewport-min(lg) {
        font-size: 1.25rem;

        &--sm {
            font-size: 1.125rem;
        }

        &--lg {
            font-size: 1.375rem;
        }
    }
}
.c-hero-badge {
    @extend %button-reset;
    display: inline-block;
    padding: .25rem .75rem;
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(270deg,#e64c4c 0,#ef32fb 100%);
    border-radius: .75rem;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.1);
    transition: transform .2s ease-in-out;

    @include viewport-min(lg) {
        padding: .25rem 1rem;
        font-size: 1rem;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
        transform: translateY(-5px);
    }
}


.c-card {
    position: relative;
    display: block;
    border-radius: 1rem;
    color: $gray-900;

    &--bd {
        background-color: #fff;
        box-shadow: 0 0 0 1px $gray-100;
    }

    &--sd {
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 1rem;
            will-change: box-shadow;
        }

        &:before {
            box-shadow: 0 1rem 2rem 0 rgba(0,0,0,.025), 0 .5rem 1rem 0 rgba(0,0,0,.05);
        }
    }

    &-ft {
        background-color: #fff;
        height: 100%;
        margin: 0;

        @include viewport-max(md) {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        @include viewport-max(lg) {
            font-size: .875rem;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }

        &__wrap {
            display: block;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 10;
            color: $gray-900;

            &:hover {
                color: $gray-900;
            }
        }

        &__media {
            flex: 0 0 auto;
            min-height: 0;
            min-width: 0;
            border-radius: 8px 8px 0 0;
            overflow: hidden;

            video {
                display: block;
                width: 100%;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        &__main {
            flex: 1 1 auto;
            min-height: 0;
            min-width: 0;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include viewport-min(lg) {
                padding: 1.5rem;
            }
        }
        // in main
        .main-pos-top {
            flex: 1 1 auto;
            min-height: 0;
            min-width: 0;
            position: relative;
        }

        .main-pos-bottom {
            margin: 1rem 0 0;

            @include viewport-min(lg) {
                margin: 1.5rem 0 0;
            }
        }

        &__tags {
            margin: 0 0 1rem 0;

            @include viewport-min(lg) {
                margin: 0 0 1.5rem 0;
            }
        }

        &__title {
            margin: 0;
            font-size: 1.25rem;
            font-weight: 700;
            color: $gray-900;

            @include viewport-min(lg) {
                font-size: 1.5rem;
            }
        }

        &__descr {
            margin: .5rem 0 0;
            font-size: .875rem;
            font-weight: 400;
            color: $gray-600;

            @include viewport-min(lg) {
                margin: .75rem 0 0;
                font-size: 1rem;
            }

            b {
                color: $gray-800;
            }
        }

        &__more {
            a {
                i.mdi {
                    position: relative;
                    top: 2px;
                }

                transition: color .2s ease-in-out, padding-left .2s ease-in-out;

                &:hover {
                    padding-left: 3px;
                }
            }
        }

        &--rv {
            .c-card-ft {
                //xx
                &__wrap {
                    display: flex;
                    flex-direction: row;
                    padding: 1rem;

                    @include viewport-min(lg) {
                        padding: 1.5rem;
                    }
                }

                &__icon {
                    flex: 0 0 72px;
                    margin: 0 1rem 0 0;

                    @include viewport-min(lg) {
                        margin: 0 1.5rem 0 0;
                    }

                    img {
                        display: block;
                        width: 72px;
                    }
                }

                &__main {
                    padding: 0;
                }

                &__title {
                    font-size: 1.125rem;

                    @include viewport-min(lg) {
                        font-size: 1.25rem;
                    }
                }

                &__descr {
                    margin: .5rem 0 0;
                    font-size: .875rem;

                    @include viewport-min(lg) {
                        margin: .5rem 0 0;
                        font-size: 1rem;
                    }
                }

                &__tags {
                    margin: 0;
                }
            }
        }
    }

    &-bn {
        margin: 0 0;
        padding: 1rem 0;

        @include viewport-max(md) {
            text-align: center;
        }

        &__icon {
            margin: 0 0 1rem;
            max-width: 100%;

            @include viewport-min(lg) {
                margin: 0 0 1.5rem;
            }
        }

        &__title {
            margin: 0;
            font-size: 1.125rem;
            font-weight: 700;
            color: $gray-900;

            @include viewport-min(lg) {
                font-size: 1.25rem;
            }
        }

        &__descr {
            margin: .5rem 0 0;
            font-size: .875rem;
            font-weight: 400;
            color: $gray-600;

            @include viewport-min(lg) {
                margin: .75rem 0 0;
                font-size: 1rem;
            }

            b {
                color: $gray-800;
            }
        }
    }

    &-fr {
        display: flex;
        width: 200px;
        height: 200px;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $gray-800;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transition: box-shadow .2s ease-in-out;

        @include viewport-min(sm) {
            width: 240px;
            height: 240px;
        }

        &:hover {
            color: #fff;
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
        }

        &--1 {
            background-color: #1aeada;
            background: radial-gradient(circle, #1aeada 0%, #1dbfb0 100%);
        }

        &--2 {
            background-color: #ee7347;
            background: radial-gradient(circle, #f7a97b 0%, #ee7347 100%)
        }

        &--3 {
            background-color: #5ea8fd;
            background: radial-gradient(circle, #95c1fe 0%, #5ea8fd 100%)
        }

        &__wrap {
            display: block;
        }

        &__icon {
            margin: 0 0 2rem;
        }

        &__title {
            margin: 0 0;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    &-prc{
        height: 100%;
    }
}

a.c-card {
    // transition: transform .2s ease-in-out;
    &:hover {
        text-decoration: none;
    }

    &--bd {
        box-shadow: 0 0 0 1px $gray-100;
    }
}