.page-header {
    &--ld {
        position: relative;
        background-color: transparent;
        z-index: 1000;
        .navbar {
            padding: 0 1rem;
            height: 72px;

            .navbar-brand {
                padding: 0;
                height: 48px;

                img {
                    display: block;
                    height: 100%;
                }
            }
        }

        .navbar-toggler {
        }
    }
}
