.page-header {
    &--ld {
        position: relative;
        background-color: $gray-800;
        z-index: 1000;
        @include viewport-min(lg){
            background-color: transparent;
        }
        .navbar {
            padding: 0 1rem;
            height: 56px;
            @include viewport-min(lg){
                height: 72px;
            }
            .navbar-brand {
                padding: 0;
                height: 56px;
                display: flex;
                align-items: center;
                img {
                    display: block;
                    height: 28px;
                }
                @include viewport-min(lg){
                    height: 72px;
                    position: relative;
                    margin-right: 3rem;
                    &:after{
                        position: absolute;
                        right: -2rem;
                        top: 50%; margin-top: -1rem;
                        content: "";
                        width: 1px;
                        height: 2rem;
                        background-color: $gray-300;
                    }
                    img {
                        display: block;
                        height: 32px;
                    }
                }
            }
        }

        .navbar-toggler {
            @extend %button-reset;
            display: block;
            margin-right: -1rem;
            position: relative;
            height: 56px;
            width: 56px;
            line-height: 56px;
            font-size: 2rem;
            text-align: center;
            color: #fff;
            &:focus{
                outline: none;
            }
            @include viewport-min(lg){
                display: none;
            }
            .mdi{
                display: block;
                position: absolute;
                top: 0; left: 0;
                height: 56px;
                width: 56px;
                line-height: 56px;
                font-size: 2rem;
                text-align: center;
                transition: opacity .3s ease-in-out;
            }
            .mdi-close{
                opacity: 1;
            }
            .mdi-menu{
                opacity: 0;
            }
            &.collapsed{
                .mdi-close{
                    opacity: 0;
                }
                .mdi-menu{
                    opacity: 1;
                }
            }
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    text-transform: uppercase;
                    .nav-link{
                        &:after{
                            @extend %mdi-icon;
                            content: "";
                        }
                    }
                    &--btn{
                        .btn{
                            box-shadow: 0 0 0;
                            &-primary{
                                color: $primary;
                                background-color: #fff;
                                border-color: $primary;
                                &:hover{
                                    color: #fff;
                                    background-color: $primary;
                                    box-shadow: 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
            @include viewport-max(lg){
                margin: 0 -1rem;
                background-color: $gray-900;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                .navbar-nav{
                    padding: 0 1rem;
                    .nav-item {
                        border-bottom: 1px solid $gray-800;
                        .nav-link{
                            position: relative;
                            padding: 1rem 0;
                            display: block;
                            font-size: 1rem;
                            font-weight: 400;
                            color: #fff;
                            &:after{
                                display: block;
                                content: "\F0142";
                                position: absolute;
                                right: 2px;
                                top: 50%;
                                margin-top: -12px;
                                line-height: 24px;
                                font-size: 1rem;
                                color: $gray-600;
                            }
                            b{
                                font-weight: 600;
                            }
                        }
                    }
                    .btn{
                        width: 100%;
                        margin: 1rem 0;
                    }
                }
            }
            @include viewport-min(lg){
                .navbar-nav{
                    align-items: center;
                    &--left{
                        margin-right: auto;
                    }
                    .nav-item{
                        &--text{
                            .nav-link{
                                position: relative;
                                padding: 1rem .75rem;
                                display: block;
                                font-size: 1rem;
                                font-weight: 400;
                                color: $gray-700;
                                transition: transform .2s ease-in-out, color .2s ease-in-out;
                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    right: .75rem; left: .75rem;
                                    bottom: .75rem;
                                    height: 1px;
                                    background-color: $primary;
                                    transform: translateY(5px);
                                    opacity: 0;
                                    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
                                }
                                &:hover{
                                    color: $primary;
                                    transform: translateY(-2px);
                                    &:after{
                                        transform: translateY(0);
                                        opacity: 1;
                                    }
                                }
                                b{
                                    font-weight: 600;
                                }
                            }
                        }
                        &--link{
                            .nav-link{
                                font-weight: 400;
                                color: $primary;
                                transition: color .1s ease-in-out;
                                &:hover{
                                    color: $gray-500;
                                }
                                b{
                                    font-weight: 600;
                                }
                            }
                        }
                        &--btn{
                            margin: 0 0 0 1rem;
                            .btn{
                                font-weight: 400;
                                padding: .5rem 1.75rem;
                                border-radius: 999px;
                                b{
                                    font-weight: 600;
                                }
                                &.primary{
                                    color: $primary;
                                    background-color: #fff;
                                    border-color: $primary;
                                }
                            }
                        }
                    }
                }
            }
            @include viewport-min(xl){
                .navbar-nav{
                    .nav-item{
                        &--text{
                            .nav-link{
                                padding: 1rem 1.125rem;
                                &:after{
                                    right: 1.125rem; left: 1.125rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &--fr{
        .navbar {
            padding: 0 1rem;
            height: 56px;
            @include viewport-min(lg){
                padding: 0 2rem;
                height: 96px;
            }
            .navbar-brand {
                height: 56px;
                img {
                    height: 32px;
                }
                @include viewport-min(lg){
                    height: 96px;
                    &:after{
                        display: none;
                    }
                    img {
                        height: 48px;
                    }
                }
            }
        }
        .navbar-collapse{
            @include viewport-min(lg){
                .navbar-nav{
                    .nav-item{
                        &--link{
                            .nav-link{
                                padding: 1rem 1rem;
                                font-size: 1.125rem;
                                color: #fff;
                                &:hover{
                                    color: $gray-200;
                                }
                            }
                        }
                        &--btn{
                            .nav-link{
                                padding: .75rem 1.5rem;
                                font-size: 1.125rem;
                                color: #fff;
                                border-color: #fff;
                                background-color: transparent;
                                border: 1px solid #fff;
                                border-radius: 999px;
                                &:hover{
                                    background-color: rgba(#fff,.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
