.l-homepage {
    margin-top: 56px;
    padding-bottom: 2rem;
    background-color: $gray-100;

    @media (min-width: $lg) {
        margin: 0;
    }
}

.block-cashback {
    background-color: $gray-700;

    &__wrap {
        padding: 4rem 0;

        @media (min-width: $sm) {
            padding: 5rem 0;
        }
    }

    &__hdr {
        text-align: center;
        color: #fff;

        &-tle {
            line-height: 1.25;
            margin: 0 0 1rem;
            font-size: 2rem;
            font-weight: 400;

            @media (min-width: $lg) {
                font-size: 2.5rem;
            }
        }

        &-stl {
            font-size: 1.125rem;
            font-weight: 300;

            @media (min-width: $lg) {
                font-size: 1.25rem;
            }
        }
    }

    &__calc {
        margin: 2.5rem auto 0;
        padding: 1rem;
        background-color: rgba(#fff,.9);
        border-radius: .25rem;

        @media (min-width: $sm) {
            width: 80%;
        }
    }
}

.l-cashback-calc {
    &__wrap {
        //
    }

    &__hdr {
        &-tle {
            display: block;
            line-height: 1.5;
            font-size: 1rem;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;

            @media (min-width: $lg) {
                font-size: 1.125rem;
            }
        }
    }

    &__field {
        .row {
            margin: 0 -.5rem;

            & > [class^="col"] {
                padding: 0 .5rem;
            }
        }
        .form-group{
            margin: 0 0 .5rem;
        }
        .form-label {
            padding: 0 .25rem;
            margin: 0 0 .125rem;
            color: $gray-700;
        }
        .btn-submit{
            margin: .5rem 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 42px;
            font-size: 1.125rem;
            i{
                font-size: 1.5rem;
                margin: 0 .5rem 0 0;
            }
        }
    }
}

.block-cards {
    padding: 3rem 0;

    @media (min-width: $sm) {
        padding: 3rem 0;
    }

    &__hdr {
        //
    }

    &__tle {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 0 1.5rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .5px;

        @media (min-width: $sm) {
            font-size: 1.75rem;
        }
    }

    &__grid {
        margin: 0 -1rem;

        @media (min-width: $md) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 -.5rem;
        }
    }

    &__single {
        min-width: 0;
        margin: 0 0 1rem;

        @media (min-width: $md) {
            flex: 0 0 50%;
            padding: 0 .5rem;
        }

        @media (min-width: $lg) {
            flex: 0 0 33.33%;
        }
    }
}

.c-card-ppt {
    img {
        max-width: 100%;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    &__wrap {
        display: block;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(#000,.08);

        @media (min-width: $md) {
            border-radius: .25rem;
        }
    }

    &__media {
        position: relative;

        &-img {
            display: block;
            overflow: hidden;

            @media (min-width: $md) {
                border-radius: .25rem .25rem 0 0;
            }

            &:hover {
                opacity: .9;
            }
        }
    }

    &__tag {
        position: absolute;
        bottom: -14px;
        right: 8px;
        z-index: 10;

        .ppt-tag-sgl {
            display: inline-block;
            line-height: 20px;
            font-size: .875rem;
            font-weight: 500;
            padding: 4px 12px;
            color: #fff;
            background-color: $gray-600;
            border-radius: 999px;

            &--1 {
                background-color: $blue;
            }

            &--2 {
                background-color: $green;
            }
        }
    }

    &__cnt {
        padding: 1rem;
    }

    &__price {
        .ppt-price-wrap {
            display: flex;
            align-items: center;
        }

        .ppt-price-num {
            margin: 0;
            line-height: 1.75rem;
            font-size: 1.75rem;
            font-weight: 700;
            color: $primary;
        }

        .ppt-price-unit {
            margin: .25rem 0 0 1rem;
            font-size: 1rem;
            font-weight: 500;
            color: $gray-500;
        }
    }

    &__locat {
        margin: 0;
        padding: .5rem 0;
        font-size: 1rem;
        font-weight: 700;

        a {
            display: block;
            color: $gray-900;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: $primary;
            }
        }
    }

    &__info {
        margin: .5rem 0 0;
        font-size: .875rem;
        font-weight: 400;
        color: $gray-600;

        &-row {
            display: flex;
            align-items: center;
            margin: 0 -.5rem .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-side-a {
            flex: 1 1 auto;
            padding: 0 .5rem;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        &-side-f {
            flex: 0 0 auto;
            padding: 0 .5rem;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .ppt-info-sgl {
            display: flex;
            align-items: center;
            margin: 0 0 0 1.5rem;
            min-width: 0;

            &:first-child {
                margin: 0;
            }

            &__icn {
                display: block;
                flex: 0 0 auto;
                min-width: 0;
                font-size: 1.125rem;
                line-height: 1.125rem;
            }

            &__lbl {
                display: block;
                flex: 1 1 auto;
                margin: 0 0 0 .25rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &__ftr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $gray-300;
    }

    &__acc {
        flex: 1 1 auto;
        min-width: 0;
        padding: .5rem 1rem;

        .ppt-acc-wrap {
            display: flex;
            align-items: center;
            color: $gray-800;

            &:hover {
                color: $primary;
            }
        }

        .ppt-acc-avt {
            flex: 0 0 auto;
            display: block;
            width: 28px;
            height: 28px;
            background-color: $gray-100;
            border-radius: 999px;
        }

        .ppt-acc-tle {
            flex: 1 1 auto;
            min-width: 0;
            margin: 0 0 0 .5rem;
            font-size: 1.125rem;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__atn {
        display: flex;
        align-items: center;
        padding: 0 .25rem;

        .ppt-atn-sgl {
            padding: .5rem;
            display: block;
            margin: 0 0 0 .125rem;
            font-size: 1.5rem;
            line-height: 1.5rem;

            &--like {
                &.active {
                    i {
                        &:before {
                            content: "\F08D0";
                        }
                    }
                }
            }
        }
    }
}