.l-page {
    @include clearall();
    margin-top: 56px;
    padding-bottom: 2rem;
    background-color: $gray-100;
    min-height: calc(100vh - 56px - 500px);

    @media (min-width: $lg) {
        margin: 0;
        min-height: calc(100vh - 129px - 271px);
    }

}

.l-homepage{
    @include clearall();
    margin-top: 56px;
    padding-bottom: 2rem;
    background-color: $gray-100;
    min-height: calc(100vh - 56px - 500px);

    @media (min-width: $lg) {
        margin: 0;
        min-height: calc(100vh - 129px - 271px);
    }
    .block-cards{
        margin: 1rem 0;
    }
}

.block-cashback {
    background-color: $gray-700;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__wrap {
        padding: 4rem 0 5rem;

        @media (min-width: $sm) {
            padding: 5rem 0;
        }
    }

    &__hdr {
        text-align: center;
        color: #fff;

        &-tle {
            line-height: 1.25;
            margin: 0 0 1rem;
            font-size: 2rem;
            font-weight: 400;

            @media (min-width: $lg) {
                font-size: 2.5rem;
            }
        }

        &-stl {
            font-size: 1.125rem;
            font-weight: 300;

            @media (min-width: $lg) {
                font-size: 1.25rem;
            }
        }
    }

    &__calc {
        position: relative;
        margin: 2.5rem auto 0;

        @media (min-width: $sm) {
            width: 80%;
        }
    }
}

.l-cashback-calc {
    position: relative;

    &__wrap {
        padding: 1rem;
        background-color: rgba(#fff,1);
        position: relative;
        z-index: 30;
    }

    &__hdr {
        &-tle {
            display: block;
            line-height: 1.5;
            font-size: 1rem;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;

            @media (min-width: $lg) {
                font-size: 1.125rem;
            }
        }
    }

    &__field {
        .row {
            margin: 0 -.5rem;

            & > [class^="col"] {
                padding: 0 .5rem;
            }
        }

        .form-group {
            margin: 0 0 .5rem;
        }

        .form-label {
            padding: 0 .25rem;
            margin: 0 0 .125rem;
            color: $gray-700;
        }

        .btn-submit {
            margin: .5rem 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 42px;
            font-size: 1.125rem;

            i {
                font-size: 1.5rem;
                margin: 0 .5rem 0 0;
            }
        }
    }

    &__result {
        position: absolute;
        top: 100%;
        padding: .5rem 1rem;
        font-size: 1rem;
        background-color: $green;
        width: 100%;
        height: auto;
        color: #fff;
        text-align: center;
        z-index: 20;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform .2s ease-in-out, opacity .1s ease;

        &.active {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.block-cards {
    margin: 1.5rem 0;
    padding: 1.5rem 0;

    &:first-child {
        margin-top: 0;
    }

    &__hdr {
        margin: 0 0 1.5rem;
    }

    &__result {
        margin: 0 0 1.5rem;

        &-tle {
            margin: 0 0 0;
            font-size: 1.25rem;
            color: $gray-900;

            @media (min-width: $lg) {
                font-size: 1.375rem;
            }
        }

        &-stl {
            margin: .25rem 0 0;
            font-size: 1rem;
            color: $gray-600;
        }
    }

    &__tle {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .5px;

        @media (min-width: $sm) {
            font-size: 1.75rem;
        }
    }

    &__grid {
        margin: 0 -.5rem;

        @media (min-width: $md) {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }

        &--hz {
            @media (max-width: $md - 1) {
                display: flex;
                flex-wrap: nowrap;
                overflow: auto;

                .block-cards__single {
                    flex: 0 0 90%;
                }
            }
        }

        &--slide {
            padding: 0 16px;

            @media (min-width: $lg) {
                padding: 0;
            }

            .c-card-ppt {
                &__cnt {
                    padding: .75rem;
                }

                &__locat {
                    margin: .25rem 0 0;
                    padding: .125rem 0;
                    font-size: .875rem;
                }

                &__num-wrap {
                    display: block;
                }

                &__price {
                    .ppt-cback-lbl {
                        margin: 0 0 3px;
                        font-size: 12px;
                    }

                    .ppt-price-wrap {
                        display: flex;
                        align-items: center;
                        text-align: right;
                    }

                    .ppt-price-num {
                        font-size: 1.125rem;

                        @media (min-width: $md) {
                            font-size: 1.25rem;
                        }
                    }

                    .ppt-price-unit {
                        margin: 0 0 0 .25rem;
                        font-size: .75rem;

                        @media (min-width: $md) {
                            font-size: .875rem;
                            margin: 0 0 0 .25rem;
                        }
                    }
                }

                &__cback-wrap {
                    margin: 8px 0 0;
                }

                &__cback {
                    .ppt-cback-lbl {
                        font-size: 11px;
                    }

                    .ppt-cback-num {
                        margin: 0;
                        line-height: 1;
                        font-size: 1rem;
                        font-weight: 700;
                        color: darken($secondary,8%);
                    }

                    .ppt-cback-unit {
                        margin: .125rem 0 0 .25rem;
                        font-size: .75rem;
                        color: darken($secondary,8%);
                    }
                }
            }
        }
    }

    &__single {
        min-width: 0;
        margin: 0 0 1rem;
        padding: 0 .5rem;

        @media (min-width: $md) {
            flex: 0 0 50%;
        }

        @media (min-width: $lg) {
            flex: 0 0 33.33%;
        }
    }

    &__pagn {
        padding: 1rem 0 0;
        display: flex;
        justify-content: center;
    }
}

.c-card-ppt {
    height: 100%;

    img {
        max-width: 100%;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    &__wrap {
        display: block;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(#000,.1);
        border-radius: .25rem;
        height: 100%;
    }

    &__media {
        position: relative;

        &-img {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: .25rem .25rem 0 0;

            &:after {
                content: "";
                display: block;
                padding-bottom: 56.25%;
            }

            &-wrap {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;

                background: {
                    position: 50% 50%;
                    repeat: no-repeat;
                    size: cover;
                }
            }

            &:hover {
                opacity: .9;
            }
        }

        &-vid-icon {
            display: block;
            position: absolute;
            top: 6px;
            right: 6px;
            z-index: 20;
            line-height: 32px;
            width: 32px;
            height: 32px;
            font-size: 1.5rem;
            text-align: center;
            padding: 0;
            color: #fff;
            background-color: rgba(#000,.4);
            border-radius: 9999px;
        }
    }

    &__tag {
        position: absolute;
        top: 8px;
        left: -8px;
        z-index: 10;

        .ppt-tag-sgl {
            position: relative;
            display: inline-block;
            line-height: 20px;
            font-size: .875rem;
            font-weight: 500;
            padding: 4px 12px;
            color: #fff;
            background-color: $gray-600;
            border-radius: 8px 14px 14px 0;

            &:after {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                content: "";
                width: 8px;
                height: 6px;
                border-radius: 0 0 0 6px;
                background-color: $gray-400;
            }

            &--1 {
                background-color: $blue;

                &:after {
                    background-color: darken($blue, 18%);
                }
            }

            &--2 {
                background-color: $green;

                &:after {
                    background-color: darken($green, 18%);
                }
            }

            &--3 {
                background-color: $orange;

                &:after {
                    background-color: darken($orange, 18%);
                }
            }
        }
    }

    &__cnt {
        padding: 1rem;
    }

    &__num-wrap {
        padding: 0 0 .25rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        .ppt-cback-lbl {
            margin: 0 0 5px;
            line-height: 1;
            font-size: 13px;
            text-transform: uppercase;
            color: $gray-500;
        }

        .ppt-price-wrap {
            display: flex;
            align-items: center;
            text-align: right;
        }

        .ppt-price-num {
            margin: 0;
            line-height: 1;
            font-size: 1.25rem;
            font-weight: 700;
            color: $primary;

            @media (min-width: $md) {
                font-size: 1.5rem;
            }
        }

        .ppt-price-unit {
            margin: .125rem 0 0 .375rem;
            font-size: .75rem;
            font-weight: 400;
            color: $gray-600;

            @media (min-width: $md) {
                font-size: .875rem;
                margin: .25rem 0 0 .25rem;
            }
        }
    }

    &__cback {

        .ppt-cback-lbl {
            margin: 0 0 3px;
            line-height: 1;
            font-size: 11px;
            text-transform: uppercase;
            color: $gray-500;
        }

        .ppt-cback-wrap {
            display: flex;
            align-items: center;
            text-align: right;
        }

        .ppt-cback-num {
            margin: 0;
            line-height: 1.25;
            font-size: 1rem;
            font-weight: 700;
            color: darken($secondary,16%);
        }

        .ppt-cback-unit {
            margin: .125rem 0 0 .25rem;
            font-size: .75rem;
            font-weight: 500;
            color: darken($secondary,12);
        }

        .ppt-cback-gift {
            margin: 0;
            padding: 0 0 0 1.25rem;
            line-height: 1.25rem;
            font-size: .875rem;
            font-weight: 500;
            color: darken($secondary,16%);
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 1rem;
                height: 1rem;
                position: absolute;
                top: 1px;
                left: 0;
                background-image: url(./../img/giftbox.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(8deg);
            }
        }
    }

    &__locat {
        margin: .5rem 0 0;
        padding: .125rem 0;
        line-height: 1.5;
        font-size: 1rem;
        font-weight: 700;

        a {
            display: block;
            color: $gray-900;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: $primary;
            }
        }
    }

    &__info {
        margin: .5rem 0 0;
        font-size: .875rem;
        font-weight: 400;
        color: $gray-600;

        &-row {
            display: flex;
            align-items: center;
            margin: 0 -.5rem .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-side-a {
            flex: 1 1 auto;
            padding: 0 .5rem;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        &-side-f {
            flex: 0 0 auto;
            padding: 0 .5rem;
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .ppt-info-sgl {
            display: flex;
            align-items: center;
            margin: 0 0 0 1.5rem;
            min-width: 0;

            &:first-child {
                margin: 0;
            }

            &__icn {
                display: block;
                flex: 0 0 auto;
                min-width: 0;
                font-size: 1.125rem;
                line-height: 1.125rem;
            }

            &__lbl {
                display: block;
                flex: 1 1 auto;
                margin: 0 0 0 .25rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &__ftr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $gray-200;
    }

    &__acc {
        flex: 1 1 auto;
        min-width: 0;
        padding: .5rem 1rem;

        .ppt-acc-wrap {
            display: flex;
            align-items: center;
            color: $gray-800;

            &:hover {
                color: $primary;
            }
        }

        .ppt-acc-avt {
            flex: 0 0 auto;
            display: block;
            width: 28px;
            height: 28px;
            background-color: $gray-100;
            border-radius: 999px;
        }

        .ppt-acc-tle {
            flex: 1 1 auto;
            min-width: 0;
            margin: 0 0 0 .5rem;
            font-size: 1.125rem;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__atn {
        display: flex;
        align-items: center;
        padding: 0 .25rem;

        .ppt-atn-sgl {
            padding: .5rem;
            display: block;
            margin: 0 0 0 .125rem;
            font-size: 1.5rem;
            line-height: 1.5rem;

            &--like {
                &.active {
                    i {
                        &:before {
                            content: "\F08D0";
                        }
                    }
                }
            }
        }
    }
}

.block-page-top {
    padding: 1rem 0;
    background-color: $gray-200;
    &__tle{
        margin: 0;
        line-height: 1.5;
        font-size: 1.25rem;
    }
}

.block-showcase-n{
    margin: 1rem 0;
}

.c-showcase-card {
    &__wrap {
        background-color: #fff;
        box-shadow: 0 1px 5px 0 rgba(#000,.12);
        border-radius: .25rem;
    }

    &__bg {
        display: block;
        position: relative;
        height: 400px;
        background-color: $gray-500;
        border-radius: .25rem 0 0 .25rem;
    }

    &__cnt {
        position: absolute;
        bottom: 32px;
        left: 0;
        width: 50%;
        padding: 2rem;
        color: #fff;
        background-color: rgba(#000,.5);
        border-radius: 0 .25rem .25rem 0;

        &-tle {
            margin: 0 0 .5rem;
            font-size: 1.5rem;
            font-weight: 700;

            a {
                display: block;
                color: #fff;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        &-dsr {
            margin: 0 0;
            font-size: 1rem;
            color: $gray-200;
            @include multi-line-ellipsis(1.5rem, 4);
        }

        &-atn {
            margin: 1.5rem 0 0;
        }
    }
}

.block-ctm-rv {
    padding: 2rem 0;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    @media (min-width: $lg) {
        padding: 4rem 0;
    }

    &__wrap {
        //
    }

    &__hdr {
        padding: 0 1rem;

        @media (min-width: $lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
        }

        &-logo {
            margin: 0 0 1rem;

            @media (min-width: $lg) {
                margin: 0;
            }

            img {
                display: block;
                width: 256px;

                @media (min-width: $lg) {
                    width: 320px;
                }
            }
        }

        &-count {
            @media (min-width: $lg) {
                display: flex;
                align-items: center;
            }
        }

        .ctm-rv-count {
            display: flex;
            text-align: center;
            margin: .5rem 0 0;

            @media (min-width: $lg) {
                display: block;
                margin: 0 0 0 5rem;
            }

            &__num {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                font-size: 1.75rem;
                font-weight: 300;

                @media (min-width: $lg) {
                    font-size: 2.25rem;
                    font-weight: 300;
                }

                .rv-num-main {
                    //
                }

                .rv-num-crc {
                    margin: 0 0 0 .25rem;
                    font-size: 1.125rem;
                    font-weight: 400;

                    @media (min-width: $lg) {
                        margin: 0 0 0 .5rem;
                        font-size: 1.25rem;
                    }
                }
            }

            &__lbl {
                margin: 0 0 0 1rem;
                padding: 5px 0 0;
                line-height: 1;
                font-size: 1.125rem;

                @media (min-width: $lg) {
                    margin: .5rem 0 0;
                    padding: 0;
                    font-size: 1.25rem;
                }
            }
        }
    }

    &__slide {
        margin: 2rem 0 0;

        @media (min-width: $lg) {
            margin: 4rem 0 0;
        }

        .ctm-rv-slide {
            display: flex;

            &__item {
                flex: 0 0 50%;
            }

            .slick-dots {
                position: absolute;
                /*left: 1.5rem;
                bottom: .75rem;*/
                bottom: -1.25rem;
                left: 50%;
                transform: translateX(-50%);
                list-style: none;
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;

                @media (min-width: $lg) {
                    bottom: -2rem;
                    left: 50%;
                    transform: translateX(-50%);
                }

                li {
                    display: block;
                    margin: 0 4px 0 0;

                    button {
                        display: block;
                        font-size: 0;
                        width: 12px;
                        height: 12px;
                        padding: 0;
                        background-color: transparent;
                        border: 2px solid $secondary;
                        border-radius: 50%;
                        outline: none;
                    }

                    &.slick-active {
                        button {
                            background-color: $secondary;
                        }
                    }
                }
            }
        }

        .c-ctm-rv {
            padding: 0 1rem;

            &__wrap {
                position: relative;
                padding: 0 0 2.5rem;
            }

            &__card {
                width: 90%;
                background-color: #fff;
                box-shadow: 0 1px 5px 0 rgba(#000,.12);
                border-radius: .5rem;

                @media (min-width: $lg) {
                    width: 80%;
                }
            }

            &__mda {
                position: relative;
                display: block;

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 56.25%;
                }

                &-wrap {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $gray-400;
                    background-position: center;
                    background-size: cover;
                    border-radius: .5rem .5rem 0 0;
                }
            }

            &__cnt {
                padding: 1rem;
            }

            &__prc {
                display: flex;
                align-items: center;
                line-height: 1;

                &-num {
                    display: block;
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: $secondary;
                }

                &-crc {
                    margin: 0 0 0 .25rem;
                    padding: 0 0 2px;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $secondary;
                }

                &-per {
                    margin: 0 0 0 .5rem;
                    padding: 0 0 2px;
                    font-size: .875rem;
                    color: $gray-500;
                }
            }

            &__addr {
                margin: .5rem 0 0;
                display: flex;
                align-items: center;

                i, span {
                    display: block;
                }

                i.mdi {
                    flex: 0 0 auto;
                    margin: 0 .25rem 0 0;
                    line-height: 1;
                    font-size: 1.25rem;
                }

                span {
                    min-width: 0;
                    flex: 1 1 auto;
                    @include one-line-ellipsis();
                }
            }

            &__dvd {
                height: 1px;
                margin: .5rem 0;
                background-color: $gray-300;
            }

            &__cback {
                &-lbl {
                    margin: 0 0 3px;
                    line-height: 1.5;
                    font-size: 12px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $gray-600;
                }

                &-cnt {
                    height: 28px;
                    display: flex;
                    align-items: center;
                }

                &-prc {
                    display: flex;
                    align-items: center;
                    line-height: 28px;
                    font-weight: 700;

                    &-num {
                        font-size: 1.375rem;
                        color: $primary;
                    }

                    &-crc {
                        display: block;
                        font-size: 1rem;
                        font-weight: 400;
                        margin: 0 0 0 .25rem;
                        color: $primary;
                    }
                }

                &-plus {
                    padding: 0 .75rem 2px;
                    line-height: 1;
                    font-size: 1rem;
                    font-weight: 400;
                    color: $primary;
                }

                &-gift {
                    margin: 0;
                    padding: 0 0 0 1.25rem;
                    line-height: 1.25rem;
                    font-size: .875rem;
                    font-weight: 500;
                    color: $primary;
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        position: absolute;
                        top: 1px;
                        left: 0;
                        background-image: url(./../img/giftbox.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate( 8deg );
                    }
                }
            }
            //xx
            &__cmt {
                padding: 1rem;
                background-color: #fff;
                box-shadow: 0 1px 8px 0 rgba(#000,.16);
                border-radius: .5rem;
                z-index: 50;
                width: 70%;
                position: absolute;
                bottom: .5rem;
                right: 0;

                @media (min-width: $sm) {
                    width: 60%;
                    background-color: #fff;
                }

                @media (min-width: $lg) {
                    background-color: #fff;
                    width: 50%;
                    min-height: 244px;
                }

                &-cnt {
                    display: block;
                    position: relative;

                    svg {
                        display: block;
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        top: -.25rem;
                        left: -.125rem;
                        opacity: .2;
                        transform: rotate(5deg);
                    }

                    span {
                        display: block;
                        text-indent: 2rem;
                        font-size: 1rem;
                        font-style: italic;

                        @media (min-width: $lg) {
                            font-size: 1.125rem;
                            @include multi-line-ellipsis(1.6125rem, 10);
                        }
                    }
                }

                &-user {
                    margin: .5rem 0 0;
                    padding: 0 0 0 2rem;
                    position: relative;
                    line-height: 1.25;
                    &:before {
                        content: "";
                        position: absolute;
                        left: .25rem;
                        top: 10px;
                        display: block;
                        width: 1.25rem;
                        height: 1px;
                        background-color: $gray-900;
                    }
                }
            }
        }
    }
}