// ------------------------------------
// Sign In and Sign Up

.block-si-form{
    padding: 1.5rem;
    @include viewport-min(lg){
        padding: 2rem;
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    &__wrap{
        //
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 3rem;
    }
    &__body{
        //
    }
    &--footer{
        //
    }
    .si-top-logo{
        a{
            display: block;
            img{
                display: block;
            }
        }
    }
    .si-top-action{
        padding-top: .5rem;
        a{
            display: block;
            font-size: 1.25rem;
            font-weight: 500;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .si-main{
        &__wrap{
            //
        }
        &__top{
            margin: 0 0 1.5rem;
        }
        &__title{
            margin: 0;
            font-size: 1.25rem;
            font-weight: 600;
            @include viewport-min(lg){
                font-size: 1.5rem;
            }
        }
        &__subtitle{
            margin: .25rem 0 0;
            font-size: .875rem;
            @include viewport-min(lg){
                font-size: 1rem;
            }
        }
        &__form{

        }
        &__divider{
            margin: .75rem 0;
            @include viewport-min(lg){
                margin: 1.25rem 0;
            }
            position: relative;
            &:after{
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                top: 50%;
                left: 0;
                margin-top: -1px;
                z-index: 10;
                background-color: $gray-300;
            }
            span{
                position: relative;
                display: block;
                width: 3rem;
                height: 3rem;
                margin: 0 auto;
                line-height: calc(3rem - 2px);
                font-size: .875rem;
                font-weight: 500;
                text-align: center;
                color: $gray-500;
                background-color: #fff;
                border: 1px solid $gray-300;
                border-radius: 50%;
                z-index: 15;
            }
        }
        &__social{
            padding: .5rem 0;
            @include viewport-min(lg){
                padding: .75rem 0;
            }
        }
    }
}
.block-si-intro{
    &__wrap{

    }
    .si-intro{
        //xx
        &-header{
            padding: 2rem 0;
        }
        &-title{
            font-size: 3rem;
            margin: 0 0 1rem;
            color: $gray-900;
        }
        &-subtitle{
            font-size: 1.25rem;
            margin: 0 0 1rem;
            color: $gray-600;
        }
        &-action{
            margin: 2rem 0 0;
            .btn-lg{
                padding: 1rem 2rem;
            }
        }
        &-divider{
            margin: 8rem 0;
        }
        &-main{
            //
        }
        &-app{
            display: flex;
            align-items: center;
            justify-content: center;
            &__screen{
                flex: 0 0 auto;
                img{
                    width: 200px;
                }
            }
            &__content{
                flex: 1 auto auto;
                min-width: 0;
                margin: 1rem 0 0 4rem;
            }
            &__title{
                margin: 0;
                font-size: 2rem;
                font-weight: 300;
            }
            &__download{
                margin: 1.5rem 0 0;
                a{
                    display: inline-block;
                    margin: .5rem 0;
                }
            }
        }
    }
}
// END - Sign In and Sign Up

// ------------------------------------
// Landing page

.block-hero {
    &--ld {
        //
    }

    &__wrap {
        position: relative;
        margin-top: -72px;
        padding-top: 72px;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(251,131,50,0.1) 25%, rgba(248,195,50,0.08) 75%, rgba(255,255,255,1) 100%);
        z-index: 10;
        .hero-background {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include viewport-min(lg){
                display: block;
            }
            &__shape {
                position: absolute;
                will-change: transform;
            }
            svg {
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                position: absolute
            }
            .stroke {
                fill: none;
                stroke: #fa6400;
                stroke-opacity: .4;
                stroke-width: 1;
            }
        }
    }

    &__body {
        position: relative;
        z-index: 20;
    }

    &__main {
        padding: 4rem 0;

        @include viewport-min(lg) {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: calc(75vh - 72px);
            padding: 6rem 5% 8rem;
        }

        @include viewport-min(md) {
            padding-left: 8%;
            padding-right: 8%;
        }
    }

    &__intro {
        padding: 0 2rem;
    
        @include viewport-min(md) {
            padding: 0 12.5%;
        }
        .hero-badge{
            margin: 0 0 3rem;
            &__btn{
                display: inline-block;
                padding: .5rem .75rem;
                font-size: .75rem;
                font-weight: 600;
                color: #fff;
                background-image: linear-gradient(270deg,#e64c4c 0,#ef32fb 100%);
                border-radius: .75rem;
                box-shadow: 0 .25rem .5rem rgba(0,0,0,.1);
                transition: box-shadow .2s ease-in-out;
                &:hover{
                    text-decoration: none;
                    box-shadow: 0 .25rem 1rem rgba(0,0,0,.2);
                }
                @include viewport-min(lg){
                    padding: .6125rem 1rem;
                    font-size: 1rem;
                }
            }
        }
        .hero-title {
            margin: 0 0 1.5rem;
            font-size: 2.5rem;
            font-weight: 800;
            letter-spacing: -1px;

            @include viewport-min(md) {
                font-size: 3rem;
            }

            @include viewport-min(lg) {
                font-size: 3.5rem;
            }

            @include viewport-min(xl) {
                font-size: 4rem;
            }

            span {
                display: inline-block;
            }
        }

        .hero-subtitle {
            line-height: 1.5;
            font-size: 1.25rem;
            letter-spacing: -.5px;
            color: $gray-700;
            @include viewport-min(md) {
                font-size: 1.5rem;
            }

            @include viewport-min(lg) {
                line-height: 1.375;
                font-size: 1.75rem;
            }

            span {
                display: inline-block;
            }
        }

        .hero-btns {
            margin: 3rem 0 0 0;

            .btn {
                margin: 0 .25rem;
                padding-left: 2rem;
                padding-right: 2rem;
                @include viewport-max(lg) {
                    display: block;
                    width: 80%;
                    max-width: 320px;
                    margin: .5rem auto;
                    font-size: 1rem;
                }
            }
        }
    }

    &__screenshot {
        .screenshot-wrap {
            video {
                display: block;
            }
        }
    }
}

.block-ld {
    padding: 3rem 0;

    @include viewport-min(lg) {
        padding: 5rem 0;
    }

    &--bg-gradient-top {
        background-image: linear-gradient(180deg,#f5f5f5 5%,#fff 90%);
    }

    &__header {
        padding: 0 1rem;

        @include viewport-min(lg) {
            padding: 0 12.5%;
        }
    }

    &__main {
        margin-top: 3rem;

        @include viewport-min(lg) {
            margin-top: 4rem;
        }
    }

    &__title {
        margin: 0;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: -.5px;
        color: $gray-900;
        @include viewport-min(lg) {
            font-size: 3rem;
        }
    }

    &__subtitle {
        margin: 1rem 0 0;
        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: -.25px;
        color: $gray-700;
        @include viewport-min(lg) {
            font-size: 1.5rem;
        }
    }
}

.block-features {
    padding: 2.5rem 0;

    @include viewport-min(lg) {
        padding: 5rem 0;
    }
}

.block-showcase {
    &__wrap {
    }

    &-acd {
        @include viewport-min(lg) {
            display: flex;
            justify-content: flex-end;
            position: relative;
        }
    }

    .accordion-media {
        display: none;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        @include viewport-min(lg) {
            display: block;
            flex: 1 1 auto;
            min-width: 0;
            margin: 0 2rem 0 0;
        }
    }

    .accordion-showcase {
        flex: 0 0 33%;
        padding: 0 0 0 1rem;

        @include viewport-min(lg) {
            height: 500px;
        }

        &__single {
            padding-bottom: 0;
            margin-bottom: .75rem;
            border-bottom: 1px solid $gray-200;

            @include viewport-min(lg) {
                padding-bottom: .25rem;
                margin-bottom: 1rem;
            }

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }

            .showcase-item {
                a {

                    &:hover {
                        text-decoration: none;
                    }
                }

                &__media {
                    /*position: absolute;
                    top: 0;
                    left: 1rem;
                    width: 700px;
                    height: 100%;
                    display: flex;
                    align-items: center;*/
                }

                &__title {
                    position: relative;
                    margin: 0 0 .75rem;
                    line-height: 1.25;
                    font-size: 1.375rem;
                    font-weight: 800;

                    @include viewport-min(lg) {
                        font-size: 1.625rem;
                    }

                    a {
                        color: $gray-900;
                        display: block;
                        position: relative;
                        color: $primary;
                        transition: color .2s ease-in-out;
                        cursor: default;

                        &:before {
                            @extend %mdi-icon;
                            display: block;
                            position: absolute;
                            top: 2px;
                            left: -28px;
                            content: "\F0140";
                            font-size: 1.5rem;
                            color: $primary;
                            transition: color .2s ease-in-out, transform .2s ease-in-out;
                        }

                        &.collapsed {
                            color: $gray-900;
                            cursor: pointer;

                            &.collapsed {
                                &:before {
                                    color: $gray-900;
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                    }
                }

                &__main-wrap {
                    padding: 0 0 1rem;
                }

                &__descr {
                    color: $gray-600;
                }

                &__action {
                    margin: 1rem 0 0;

                    a.view-link {
                        font-size: .875rem;
                        font-weight: 600;
                        transition: color .2s ease-in-out, padding-left .2s ease-in-out;

                        &:hover {
                            padding-left: 3px;
                        }
                    }
                }
            }
        }
    }
}

.block-clients {
    margin: 2rem 0 0;
    padding: 2rem 0;

    @include viewport-min(lg) {
        margin: 3rem 0 0;
        padding: 3rem 0;
    }

    &__title {
        line-height: 1.25;
        font-size: 1.125rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $gray-900;
    }

    &__list {
        margin: 2rem 0 0;

        .single-client-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5rem 1rem;

            img {
                display: block;
                max-height: 4rem;
                max-width: 100%;
                filter: grayscale(100%);
            }
        }
    }
}

.block-cta {
    margin: 2rem 0 0;
    color: #fff;

    @include viewport-min(lg) {
        margin: 3rem 0 0;
    }

    &__wrap {
        margin: 0 -1rem;
        padding: 2rem 2rem;
        background-color: $gray-700;

        @include viewport-min(sm) {
            border-radius: 1rem;
        }

        @include viewport-min(lg) {
            margin: 0;
            padding: 2rem 3rem;
        }
    }

    .cta-title {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: -.5px;

        @include viewport-min(lg) {
            font-size: 2.5rem;
        }
    }

    .cta-subtitle {
        margin: .75rem 0 0;
        font-size: 1rem;
        font-weight: 400;
        color: $gray-200;
        @include viewport-min(lg) {
            font-size: 1.25rem;
        }
    }
    .cta-actions{
        white-space: nowrap;
        .btn{
            margin: 0 0 0 .5rem;
        }
    }
}

// END - Landing page

// ------------------------------------
