.page-si{
	&__wrap{
        @include viewport-min(lg){
            display: flex;
            height: 100vh;
        }
	}
    .block-si-form{
        @include viewport-min(lg){
            flex: 0 0 auto;
            max-height: 100%;
            overflow: auto;
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
        &__wrap{
            max-width: 480px;
            margin: 0 auto;
            @include viewport-min(lg){
                width: 375px;
            }
        }
    }
    .block-si-intro{
        @include viewport-min(lg){
            max-height: 100%;
            overflow: auto;
            flex: 1 1 auto;
            min-width: 0;
            max-height: 100%;
            overflow: auto;
        }
        &__wrap{
            padding: 2rem 15%;
            margin: 0 auto;
       }
    }
}



.page-front {
    position: relative;
    &__wrap {
        @extend %bg-cover;
        background-position: center bottom;
        position: relative;
        z-index: 50;
        background-image: url("../img/bg-front.png");
        padding-bottom: 2rem;
    }
    .front-main{
        display: flex;
        align-items: center;
        justify-content: center;
        &__header{
            padding: 2.5rem 0;
            @include viewport-min(lg) {
                padding: 4rem 5% 3rem;
            }
        }
        &__title {
            margin: 0;
            font-size: 2.5rem;
            font-weight: 200;
            letter-spacing: -.5px;
            color: #fff;
            @include viewport-min(lg) {
                font-size: 5rem;
            }
        }

        &__quote {
            position: relative;
            margin: 1.5rem 0 0;
            font-size: 1rem;
            font-weight: 400;
            font-style: italic;
            color: $gray-100;
            @include viewport-min(lg) {
                font-size: 1.125rem;
            }
            p{
                margin-bottom: .5rem;
            }

        }
    }
}