.page-si{
	&__wrap{
        @include viewport-min(lg){
            display: flex;
            height: 100vh;
        }
	}
    .block-si-form{
        @include viewport-min(lg){
            flex: 0 0 auto;
            max-height: 100%;
            overflow: auto;
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
        &__wrap{
            max-width: 480px;
            margin: 0 auto;
            @include viewport-min(lg){
                width: 360px;
            }
        }
    }
    .block-si-intro{
        @include viewport-min(lg){
            max-height: 100%;
            overflow: auto;
            flex: 1 1 auto;
            min-width: 0;
            max-height: 100%;
        }
        &__wrap{
            //
        }
    }
}

.page-front {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #fff;

    &__top {
        @extend %bg-cover;
        position: relative;
        z-index: 50;
        width: 100%;
        padding-bottom: 2rem;
        background-size: cover;
        background-position: center bottom;
        background-image: url("../img/bg-front.png");
    }

    &__btm {
        width: 100%;
    }
    //l
    &__main {
        padding: 1rem 0;
    }

    &__footer {
        padding: 1rem 0;

        @media (min-height: 768px) {
            margin: 1rem 0 0;
        }
    }
    //e
    &__copyright {
    }
}