.slick-slider {
    display: none !important;

    &.slick-initialized {
        display: block !important;
    }
    *{
        &:focus, &:active{
            outline: none;
        }
    }
}

.slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    font-size: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    z-index: 100;
    border: 0;
    box-shadow: 0 1px 5px rgba(#000,.2);

    &:active, &:focus {
        outline: none;
    }

    &:active {
        box-shadow: 0 1px 8px rgba(#000,.3);
    }

    &:before {
        display: inline-block;
        vertical-align: top;
        line-height: 36px;
        font-family: "Material Design Icons";
        font-size: 24px;
    }

    &.slick-prev {
        left: -6px;

        @media (min-width: $lg) {
            left: -20px;
        }

        &:before {
            content: "\F0141";
        }
    }

    &.slick-next {
        right: -6px;

        @media (min-width: $lg) {
            right: -20px;
        }

        &:before {
            content: "\F0142";
        }
    }

    &.slick-disabled {
        opacity: .8;
        color: $gray-500;
        box-shadow: 0 1px 2px rgba(#000,.1);

        &:active {
            box-shadow: 0 1px 2px rgba(#000,.1);
        }
    }
}
