.c-hero-badge, .page-header--ld .navbar-toggler { margin: 0; padding: 0; border: none; background-color: transparent; }

.page-header--ld .navbar-collapse .navbar-nav .nav-item .nav-link:after, .page-footer .footer-section__title a:after, .block-showcase .accordion-showcase__single .showcase-item__title a:before { display: inline-block; font: normal normal normal 24px/1 "Material Design Icons"; font-size: inherit; text-rendering: auto; line-height: inherit; -webkit-font-smoothing: antialiased; }

.h-bg-cover, .page-front__top { -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }

.h-bg-contain { -moz-background-size: contain; -o-background-size: contain; -webkit-background-size: contain; background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; }

.h-rectangle { position: relative; display: block; }
.h-rectangle:after { content: ""; display: block; padding-bottom: 100%; }
.h-rectangle__inner { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.h-rectangle--r11:after, .h-rectangle .ratio-r11:after { padding-bottom: 100%; }
.h-rectangle--r31:after, .h-rectangle .ratio-r31:after { padding-bottom: 33.3333%; }
.h-rectangle--r13:after, .h-rectangle .ratio-r13:after { padding-bottom: 300%; }
.h-rectangle--r32:after, .h-rectangle .ratio-r32:after { padding-bottom: 66.6666%; }
.h-rectangle--r23:after, .h-rectangle .ratio-r23:after { padding-bottom: 150%; }
.h-rectangle--r21:after, .h-rectangle .ratio-r21:after { padding-bottom: 50%; }
.h-rectangle--r12:after, .h-rectangle .ratio-r12:after { padding-bottom: 200%; }
.h-rectangle--r169:after, .h-rectangle .ratio-169:after { padding-bottom: 56.25%; }
.h-rectangle--r916:after, .h-rectangle .ratio-916:after { padding-bottom: 178%; }

.page-header--ld .navbar-collapse .navbar-nav .nav-item .nav-link:after, .page-footer .footer-section__title a:after, .block-showcase .accordion-showcase__single .showcase-item__title a:before { display: inline-block; font: normal normal normal 24px/1 "Material Design Icons"; font-size: inherit; text-rendering: auto; line-height: inherit; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.h-c-red { color: #dc3545; }

.badge { padding: 9px 12px 8px; text-transform: uppercase; letter-spacing: .5px; }
.badge-primary { color: #fff; }
.badge--blue { color: #007bff; background-color: #cce5ff; }
.badge--orange { color: #fd7e14; background-color: #ffedde; }
.badge--teal { color: #20c997; background-color: #d6f8ee; }
.badge--green { color: #28a745; background-color: #b7eec4; }
.badge--cyan { color: #17a2b8; background-color: #b0ecf5; }

.btn { font-weight: 500; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); transition: all .2s ease-in-out; }
.btn:active, .btn.active, .btn:focus, .btn.focus, .btn:active:focus, .btn:focus:active { outline: 0; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
.btn:hover { box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2); }
.btn:active { transform: translateY(0); box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15); }
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus { outline: 0; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15); }
.btn-link { box-shadow: 0 0 0 transparent !important; }
.btn-default { background-color: #fff; border-color: #dee2e6; }
.btn-default:hover { background-color: #fff; }
.btn-primary { color: #fff; }
.btn-primary:hover { border-color: transparent; }
.btn-secondary:hover { border-color: transparent; }
.btn-outline-primary:hover { color: #fff; }
.btn-social { position: relative; color: #fff; background-color: #343a40; padding-left: 3.25rem; }
.btn-social__icon { display: block; position: absolute; top: 50%; left: .5rem; margin-top: -1rem; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; }
.btn-social__icon img { max-width: 1.25rem; max-height: 1.25rem; }
.btn-social__icon i.mdi { display: inline-block; vertical-align: top; line-height: 2rem; font-size: 1.5rem; }
.btn-social:hover { color: #fff; }
.btn-social--facebook { background-color: #3b5999; }
.btn-social--zalo { background-color: #038AE3; }
.btn-app-download { display: inline-block; }
.btn-app-download:hover { transform: translateY(-0.125rem); opacity: .8; }
.btn-app-download:active { transform: translateY(-0.25rem); }

.form-label { margin-bottom: .25rem; font-size: .875rem; font-weight: 300; color: #212529; }

.animated.delay-01s { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }

.animated.delay-11s { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }

.animated.delay-02s { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

.animated.delay-12s { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

.animated.delay-03s { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

.animated.delay-13s { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

.animated.delay-04s { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }

.animated.delay-14s { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }

.animated.delay-05s { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }

.animated.delay-15s { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }

.animated.delay-06s { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }

.animated.delay-16s { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }

.animated.delay-07s { -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }

.animated.delay-17s { -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }

.animated.delay-08s { -webkit-animation-delay: 0.8s; animation-delay: 0.8s; }

.animated.delay-18s { -webkit-animation-delay: 0.8s; animation-delay: 0.8s; }

.animated.delay-09s { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }

.animated.delay-19s { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }

.element-animated { opacity: 0; }

.element-animated.animated { opacity: 1; }

@keyframes a-ldTitle { from { opacity: 0; -webkit-transform: translate3d(0, 2rem, 0); transform: translate3d(0, 2rem, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@keyframes a-ldSubtitle { from { opacity: 0; -webkit-transform: translate3d(0, 1.5rem, 0); transform: translate3d(0, 1.5rem, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
.a-ldTitle { -webkit-animation-name: a-ldTitle; animation-name: a-ldTitle; }

.a-ldSubtitle { -webkit-animation-name: a-ldSubtitle; animation-name: a-ldSubtitle; }

@keyframes fadeInUp--xs { from { opacity: 0; -webkit-transform: translate3d(0, 1.5rem, 0); transform: translate3d(0, 1.5rem, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
.fadeInUp--xs { -webkit-animation-name: fadeInUp--xs; animation-name: fadeInUp--xs; }

@keyframes fadeInUp--sm { from { opacity: 0; -webkit-transform: translate3d(0, 2.5rem, 0); transform: translate3d(0, 2.5rem, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
.fadeInUp--sm { -webkit-animation-name: fadeInUp--sm; animation-name: fadeInUp--sm; }

@keyframes fadeInLeft--sm { from { opacity: 0; -webkit-transform: translate3d(-2.5rem, 0, 0); transform: translate3d(-2.5rem, 0, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
.fadeInLeft--sm { -webkit-animation-name: fadeInLeft--sm; animation-name: fadeInLeft--sm; }

@keyframes fadeInRight--sm { from { opacity: 0; -webkit-transform: translate3d(2.5rem, 0, 0); transform: translate3d(2.5rem, 0, 0); }
  to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
.fadeInRight--sm { -webkit-animation-name: fadeInRight--sm; animation-name: fadeInRight--sm; }

.el-grp__montage { position: relative; width: 47.5rem; height: 47.5rem; margin-left: auto; margin-right: auto; }

.el-grp__montage__layer { position: absolute; left: 0; top: 0; width: 100%; height: 100%; will-change: transform; }

.el-grp__montage__layer__el { position: absolute; will-change: transform; transform: scale(0.9); }

img.el-grp__montage__layer__el { transform: scale(1); }

body { font-family: "SF Pro", sans-serif; color: #212529; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "SF Pro", sans-serif; }

a { transition: all .2s ease-in-out; }

.c-section-title, .block-hero__intro .hero-title, .block-ld__title, .block-cta .cta-title { margin: 0; font-size: 2rem; font-weight: 600; color: #212529; }
.c-section-title--sm, .block-cta .cta-title { font-size: 1.75rem; }
.c-section-title--lg, .block-hero__intro .hero-title { font-size: 2.25rem; }
@media (min-width: 992px) { .c-section-title, .block-hero__intro .hero-title, .block-ld__title, .block-cta .cta-title { font-size: 2.5rem; }
  .c-section-title--sm, .block-cta .cta-title { font-size: 2rem; }
  .c-section-title--lg, .block-hero__intro .hero-title { font-size: 3rem; } }

.c-section-subtitle, .block-hero__intro .hero-subtitle, .block-ld__subtitle, .block-cta .cta-subtitle { margin: 1rem 0 0; font-size: 1.125rem; font-weight: 300; color: #212529; }
.c-section-subtitle--sm, .block-cta .cta-subtitle { margin: .75rem 0 0; font-size: 1rem; }
.c-section-subtitle--lg, .block-hero__intro .hero-subtitle { margin: 1.25rem 0 0; font-size: 1.25rem; }
@media (min-width: 992px) { .c-section-subtitle, .block-hero__intro .hero-subtitle, .block-ld__subtitle, .block-cta .cta-subtitle { font-size: 1.25rem; }
  .c-section-subtitle--sm, .block-cta .cta-subtitle { font-size: 1.125rem; }
  .c-section-subtitle--lg, .block-hero__intro .hero-subtitle { font-size: 1.375rem; } }

.c-hero-badge { display: inline-block; padding: .25rem .75rem; font-size: .75rem; font-weight: 600; color: #fff; background-image: linear-gradient(270deg, #e64c4c 0%, #ef32fb 100%); border-radius: .75rem; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); transition: transform .2s ease-in-out; }
@media (min-width: 992px) { .c-hero-badge { padding: .25rem 1rem; font-size: 1rem; } }
.c-hero-badge:hover { color: #fff; text-decoration: none; transform: translateY(-5px); }

.c-prc-tab-menu { border-radius: .5rem; }
.c-prc-tab-menu__item { display: block; background-color: #e4edf2; color: #495057; }
.c-prc-tab-menu__item:hover { color: #212529; background-color: #f8f9fa; }
@media (max-width: 575px) { .c-prc-tab-menu__item { width: 100%; padding: .75rem 0; border-bottom: 1px solid #e9ecef; }
  .c-prc-tab-menu__item:first-child { border-radius: .5rem .5rem 0 0; }
  .c-prc-tab-menu__item:last-child { border-radius: 0 0 .5rem .5rem; border-bottom: 0; } }
@media (min-width: 576px) { .c-prc-tab-menu__item { width: 280px; padding: 1.25rem 0; border-right: 1px solid #e9ecef; }
  .c-prc-tab-menu__item:first-child { border-radius: .5rem 0 0 .5rem; }
  .c-prc-tab-menu__item:last-child { border-radius: 0 .5rem .5rem 0; border-right: 0; } }
.c-prc-tab-menu__item:hover { text-decoration: none; }
.c-prc-tab-menu__item.active { color: #fff; background-color: #ec8056; border-color: #ec8056; }
.c-prc-tab-menu__item .tab-item-title { margin: 0; font-size: 1rem; font-weight: 500; text-transform: uppercase; }
.c-prc-tab-menu__item .tab-item-subtitle { margin: .25rem 0 0; font-size: .875rem; font-weight: 300; }

.c-card { position: relative; display: block; border-radius: 1rem; color: #212529; }
.c-card--bd { background-color: #fff; box-shadow: 0 0 0 1px #f8f9fa; }
.c-card--sd:after, .c-card--sd:before { content: ''; display: block; position: absolute; z-index: 0; top: 0; right: 0; bottom: 0; left: 0; border-radius: 1rem; will-change: box-shadow; }
.c-card--sd:before { box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.025), 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.05); }
.c-card-ft { background-color: #fff; height: 100%; margin: 0; }
@media (max-width: 767px) { .c-card-ft { max-width: 300px; margin-left: auto; margin-right: auto; } }
@media (max-width: 991px) { .c-card-ft { font-size: .875rem; } }
.c-card-ft a:hover { text-decoration: none; }
.c-card-ft__wrap { display: block; height: 100%; display: flex; flex-direction: column; position: relative; z-index: 10; color: #212529; }
.c-card-ft__wrap:hover { color: #212529; }
.c-card-ft__media { flex: 0 0 auto; min-height: 0; min-width: 0; border-radius: 8px 8px 0 0; overflow: hidden; }
.c-card-ft__media video { display: block; width: 100%; }
.c-card-ft__media img { display: block; width: 100%; }
.c-card-ft__main { flex: 1 1 auto; min-height: 0; min-width: 0; padding: 1rem; display: flex; flex-direction: column; justify-content: space-between; }
@media (min-width: 992px) { .c-card-ft__main { padding: 1.5rem; } }
.c-card-ft .main-pos-top { flex: 1 1 auto; min-height: 0; min-width: 0; position: relative; }
.c-card-ft .main-pos-bottom { margin: 1rem 0 0; }
@media (min-width: 992px) { .c-card-ft .main-pos-bottom { margin: 1.5rem 0 0; } }
.c-card-ft__tags { margin: 0 0 1rem 0; }
@media (min-width: 992px) { .c-card-ft__tags { margin: 0 0 1.5rem 0; } }
.c-card-ft__title { margin: 0; font-size: 1.25rem; font-weight: 700; color: #212529; }
@media (min-width: 992px) { .c-card-ft__title { font-size: 1.5rem; } }
.c-card-ft__descr { margin: .5rem 0 0; font-size: .875rem; font-weight: 400; color: #6c757d; }
@media (min-width: 992px) { .c-card-ft__descr { margin: .75rem 0 0; font-size: 1rem; } }
.c-card-ft__descr b { color: #343a40; }
.c-card-ft__more a { transition: color .2s ease-in-out, padding-left .2s ease-in-out; }
.c-card-ft__more a i.mdi { position: relative; top: 2px; }
.c-card-ft__more a:hover { padding-left: 3px; }
.c-card-ft--rv .c-card-ft__wrap { display: flex; flex-direction: row; padding: 1rem; }
@media (min-width: 992px) { .c-card-ft--rv .c-card-ft__wrap { padding: 1.5rem; } }
.c-card-ft--rv .c-card-ft__icon { flex: 0 0 72px; margin: 0 1rem 0 0; }
@media (min-width: 992px) { .c-card-ft--rv .c-card-ft__icon { margin: 0 1.5rem 0 0; } }
.c-card-ft--rv .c-card-ft__icon img { display: block; width: 72px; }
.c-card-ft--rv .c-card-ft__main { padding: 0; }
.c-card-ft--rv .c-card-ft__title { font-size: 1.125rem; }
@media (min-width: 992px) { .c-card-ft--rv .c-card-ft__title { font-size: 1.25rem; } }
.c-card-ft--rv .c-card-ft__descr { margin: .5rem 0 0; font-size: .875rem; }
@media (min-width: 992px) { .c-card-ft--rv .c-card-ft__descr { margin: .5rem 0 0; font-size: 1rem; } }
.c-card-ft--rv .c-card-ft__tags { margin: 0; }
.c-card-bn { margin: 0 0; padding: 1rem 0; }
@media (max-width: 767px) { .c-card-bn { text-align: center; } }
.c-card-bn__icon { margin: 0 0 1rem; max-width: 100%; }
@media (min-width: 992px) { .c-card-bn__icon { margin: 0 0 1.5rem; } }
.c-card-bn__title { margin: 0; font-size: 1.125rem; font-weight: 700; color: #212529; }
@media (min-width: 992px) { .c-card-bn__title { font-size: 1.25rem; } }
.c-card-bn__descr { margin: .5rem 0 0; font-size: .875rem; font-weight: 400; color: #6c757d; }
@media (min-width: 992px) { .c-card-bn__descr { margin: .75rem 0 0; font-size: 1rem; } }
.c-card-bn__descr b { color: #343a40; }
.c-card-fr { display: flex; width: 200px; height: 200px; align-items: center; justify-content: center; color: #fff; background-color: #343a40; border-radius: 2rem; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); transition: box-shadow .2s ease-in-out; }
@media (min-width: 576px) { .c-card-fr { width: 240px; height: 240px; } }
.c-card-fr:hover { color: #fff; box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3); }
.c-card-fr--1 { background-color: #1aeada; background: radial-gradient(circle, #1aeada 0%, #1dbfb0 100%); }
.c-card-fr--2 { background-color: #ee7347; background: radial-gradient(circle, #f7a97b 0%, #ee7347 100%); }
.c-card-fr--3 { background-color: #5ea8fd; background: radial-gradient(circle, #95c1fe 0%, #5ea8fd 100%); }
.c-card-fr__wrap { display: block; }
.c-card-fr__icon { margin: 0 0 1.5rem; }
@media (min-width: 992px) { .c-card-fr__icon { margin: 0 0 2rem; } }
.c-card-fr__icon img { display: inline-block; vertical-align: top; height: 3.5rem; }
@media (min-width: 992px) { .c-card-fr__icon img { height: 4rem; } }
.c-card-fr__title { margin: 0 0; font-size: 1.25rem; font-weight: 400; text-transform: uppercase; }
@media (min-width: 992px) { .c-card-fr__title { font-size: 1.5rem; } }
.c-card-prc { padding: 1rem; height: 100%; font-size: .875rem; background-color: #fff; box-shadow: 0 0.0125rem 0.5rem rgba(0, 0, 0, 0.08); transition: box-shadow .2s ease-in-out, transform .2s ease-in-out; border-radius: 0; }
.c-card-prc:hover { transform: translateY(-0.5rem); box-shadow: 0 0.0125rem 0.75rem rgba(0, 0, 0, 0.12); }
.c-card-prc .btn, .c-card-prc .btn:hover, .c-card-prc .btn:active, .c-card-prc .btn:focus { box-shadow: 0 0 0; }
.c-card-prc .btn-default:hover { background-color: #f8f9fa; }
.c-card-prc .btn-primary:hover { background-color: #ef916d; }
.c-card-prc--ft { border: 1px solid #ec8056; box-shadow: 0 0.0125rem 1rem 0.25rem rgba(236, 128, 86, 0.5); }
.c-card-prc--ft:hover { box-shadow: 0 0.0125rem 1rem 0.25rem rgba(236, 128, 86, 0.5); }
@media (min-width: 1200px) { .c-card-prc--ft { padding: 1.5rem; /*font-size: 1rem;*/ } }
.c-card-prc--ft .c-card-prc__badge { margin: 0 0 1rem; position: relative; top: -.5rem; }
.c-card-prc--ft .c-card-prc__title { color: #212529; }
.c-card-prc__wrap { display: flex; flex-direction: column; height: 100%; }
.c-card-prc__wrap .card-pos-top { flex: 1 1 auto; min-width: 0; min-height: 0; }
.c-card-prc__wrap .card-pos-btm { margin: 1rem 0 0; flex: 0 0 auto; }
.c-card-prc__main { margin: .5rem 0 0; }
.c-card-prc__badge { height: auto; margin: 0 0 .75rem; }
.c-card-prc__badge .badge-primary { background-color: #ffb34b; }
@media (min-width: 992px) { .c-card-prc__badge { height: 1.25rem; } }
.c-card-prc__title { margin: 0; font-size: 1.75rem; font-weight: 600; color: #212529; }
.c-card-prc__pricing { margin: 1rem 0; }
@media (min-width: 992px) { .c-card-prc__pricing { margin: 1.5rem 0; } }
.c-card-prc__pricing .pricing-main { line-height: 1; font-size: 2.5rem; font-weight: 300; }
@media (min-width: 992px) { .c-card-prc__pricing .pricing-main { font-size: 3.5rem; letter-spacing: -.25px; } }
.c-card-prc__pricing .pricing-crc { line-height: 1; font-size: 1rem; color: #212529; }
@media (min-width: 992px) { .c-card-prc__pricing .pricing-crc { font-size: 1.25rem; } }
.c-card-prc__pricing .pricing-time { margin: .25rem 0 0; padding: 0 .25rem; line-height: 1; font-size: .875rem; color: #6c757d; }
@media (min-width: 992px) { .c-card-prc__pricing .pricing-time { font-size: 1rem; } }
.c-card-prc__list { padding: 0; margin: 0; list-style: none; }
.c-card-prc__list .prc-item-ft { position: relative; padding: .25rem 0 .25rem 2rem; border-bottom: 1px dotted #e9ecef; }
@media (min-width: 992px) { .c-card-prc__list .prc-item-ft { padding: .5rem 0 .5rem 2rem; } }
.c-card-prc__list .prc-item-ft:last-child { border-bottom: 0; }
.c-card-prc__list .prc-item-ft .item-ft-icon { position: absolute; line-height: 1.5rem; font-size: 1.25rem; top: .5rem; left: 0; color: #ec8056; }
.c-card-prc__list .prc-item-ft .item-ft-icon i.mdi:before { content: "\F05E0"; }
.c-card-prc__list .prc-item-ft--muted { color: #adb5bd; text-decoration: line-through; }
.c-card-prc__list .prc-item-ft--muted .item-ft-icon i.mdi { color: #adb5bd; }
.c-card-prc__list .prc-item-ft--muted .item-ft-icon i.mdi:before { content: "\F0130"; }
.c-card-prc__noted { margin: 1rem 0 0; padding: 1rem 0 0; font-size: .875rem; border-top: 1px solid #e9ecef; }
.c-card-prc__noted p { margin-bottom: .25rem; }
.c-card-prc__noted ul { padding: 0 0 0 1rem; margin-bottom: .25rem; }
.c-card-prc__reg { padding: 0 1rem .5rem 1rem; }

a.c-card:hover { text-decoration: none; }
a.c-card--bd { box-shadow: 0 0 0 1px #f8f9fa; }

.l-pricing-cards { margin: 3rem 0 0; }
@media (min-width: 1200px) { .l-pricing-cards { margin: 3rem 0 0; } }
.l-pricing-cards .row { margin: 0; }
.l-pricing-cards .row > [class^="col"] { padding: 0; position: relative; }
.l-pricing-cards .row .card-wrap { height: 100%; }
.l-pricing-cards .row .col-pricing-lg { z-index: 10; }
@media (min-width: 1200px) { .l-pricing-cards .row .col-pricing-lg { flex: 0 0 28%; max-width: 28%; } }
@media (min-width: 1200px) { .l-pricing-cards .row .col-pricing-lg .card-wrap { position: relative; top: -1rem; height: calc(100% + 2rem); } }

.page-header--ld { position: relative; background-color: #343a40; z-index: 1000; }
@media (min-width: 992px) { .page-header--ld { background-color: transparent; } }
.page-header--ld .navbar { padding: 0 1rem; height: 56px; }
@media (min-width: 992px) { .page-header--ld .navbar { height: 72px; } }
.page-header--ld .navbar .navbar-brand { padding: 0; height: 56px; display: flex; align-items: center; }
.page-header--ld .navbar .navbar-brand img { display: block; height: 28px; }
@media (min-width: 992px) { .page-header--ld .navbar .navbar-brand { height: 72px; position: relative; margin-right: 3rem; }
  .page-header--ld .navbar .navbar-brand:after { position: absolute; right: -2rem; top: 50%; margin-top: -1rem; content: ""; width: 1px; height: 2rem; background-color: #dee2e6; }
  .page-header--ld .navbar .navbar-brand img { display: block; height: 32px; } }
.page-header--ld .navbar-toggler { display: block; margin-right: -1rem; position: relative; height: 56px; width: 56px; line-height: 56px; font-size: 2rem; text-align: center; color: #fff; }
.page-header--ld .navbar-toggler:focus { outline: none; }
@media (min-width: 992px) { .page-header--ld .navbar-toggler { display: none; } }
.page-header--ld .navbar-toggler .mdi { display: block; position: absolute; top: 0; left: 0; height: 56px; width: 56px; line-height: 56px; font-size: 2rem; text-align: center; transition: opacity .3s ease-in-out; }
.page-header--ld .navbar-toggler .mdi-close { opacity: 1; }
.page-header--ld .navbar-toggler .mdi-menu { opacity: 0; }
.page-header--ld .navbar-toggler.collapsed .mdi-close { opacity: 0; }
.page-header--ld .navbar-toggler.collapsed .mdi-menu { opacity: 1; }
.page-header--ld .navbar-collapse .navbar-nav .nav-item .nav-link:after { content: ""; }
@media (max-width: 991px) { .page-header--ld .navbar-collapse { margin: 0 -1rem; background-color: #212529; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .page-header--ld .navbar-collapse .navbar-nav { padding: 0 1rem; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item { border-bottom: 1px solid #343a40; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item .nav-link { position: relative; padding: 1rem 0; display: block; font-size: 1rem; font-weight: 400; color: #fff; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item .nav-link:after { display: block; content: "\F0142"; position: absolute; right: 2px; top: 50%; margin-top: -12px; line-height: 24px; font-size: 1rem; color: #6c757d; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item .nav-link b { font-weight: 600; }
  .page-header--ld .navbar-collapse .navbar-nav .btn { width: 100%; margin: 1rem 0; } }
@media (min-width: 992px) { .page-header--ld .navbar-collapse .navbar-nav { align-items: center; }
  .page-header--ld .navbar-collapse .navbar-nav--left { margin-right: auto; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--text .nav-link { position: relative; padding: 1rem .75rem; display: block; font-size: 1rem; font-weight: 400; color: #495057; transition: transform .2s ease-in-out, color .2s ease-in-out; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--text .nav-link:after { content: ""; display: block; position: absolute; right: .75rem; left: .75rem; bottom: .75rem; height: 1px; background-color: #ec8056; transform: translateY(5px); opacity: 0; transition: transform .2s ease-in-out, opacity .2s ease-in-out; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--text .nav-link:hover { color: #ec8056; transform: translateY(-2px); }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--text .nav-link:hover:after { transform: translateY(0); opacity: 1; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--text .nav-link b { font-weight: 600; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--link .nav-link { font-weight: 400; color: #ec8056; transition: color .1s ease-in-out; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--link .nav-link:hover { color: #adb5bd; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--link .nav-link b { font-weight: 600; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--btn { margin: 0 0 0 1rem; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--btn .btn { font-weight: 400; padding: .75rem 1.5rem; border-radius: 999px; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--btn .btn b { font-weight: 600; } }
@media (min-width: 1200px) { .page-header--ld .navbar-collapse .navbar-nav .nav-item--text .nav-link { padding: 1rem 1.125rem; }
  .page-header--ld .navbar-collapse .navbar-nav .nav-item--text .nav-link:after { right: 1.125rem; left: 1.125rem; } }
.page-header--fr .navbar { padding: 0 1rem; height: 56px; }
@media (min-width: 992px) { .page-header--fr .navbar { padding: 0 2rem; height: 96px; } }
.page-header--fr .navbar .navbar-brand { height: 56px; }
.page-header--fr .navbar .navbar-brand img { height: 32px; }
@media (min-width: 992px) { .page-header--fr .navbar .navbar-brand { height: 96px; }
  .page-header--fr .navbar .navbar-brand:after { display: none; }
  .page-header--fr .navbar .navbar-brand img { height: 48px; } }
@media (min-width: 992px) { .page-header--fr .navbar-collapse .navbar-nav .nav-item--link .nav-link { padding: 1rem 1rem; font-size: 1.125rem; color: #fff; }
  .page-header--fr .navbar-collapse .navbar-nav .nav-item--link .nav-link:hover { color: #e9ecef; }
  .page-header--fr .navbar-collapse .navbar-nav .nav-item--btn .nav-link { padding: .75rem 1.5rem; font-size: 1.125rem; color: #fff; border-color: #fff; background-color: transparent; border: 1px solid #fff; border-radius: 999px; }
  .page-header--fr .navbar-collapse .navbar-nav .nav-item--btn .nav-link:hover { background-color: rgba(255, 255, 255, 0.2); } }

.page-footer { margin-top: 2rem; padding: 2rem 0; background-color: #fff; }
@media (min-width: 768px) { .page-footer { margin-top: 4rem; padding: 4rem 0; } }
@media (min-width: 768px) { .page-footer__wrap { padding: 0 2rem; } }
.page-footer .footer-section { margin: 0; }
@media (max-width: 991px) { .page-footer .footer-section { padding: .25rem 0; border-top: 1px solid #e9ecef; } }
@media (min-width: 992px) { .page-footer .footer-section { margin: 0 0 1rem; } }
.page-footer .footer-section__title { margin: 0; line-height: 1.5; font-size: .875rem; font-weight: 600; text-transform: uppercase; position: relative; }
@media (min-width: 992px) { .page-footer .footer-section__title { margin: 0 0 .25rem; font-size: 1rem; /*&:after { content: ""; position: absolute; display: block; width: 3px; height: 16px; top: 50%; margin-top: -8px; left: -14px; background-color: $primary;
}*/ } }
.page-footer .footer-section__title a { transition: color .2s ease-in-out; }
.page-footer .footer-section__title a:hover { text-decoration: none; }
.page-footer .footer-section__title a:after { content: "\F0140"; display: none; position: absolute; right: 3px; top: 50%; margin-top: -12px; line-height: 24px; font-size: 1rem; transition: transform .2s ease-in-out; }
@media (max-width: 991px) { .page-footer .footer-section__title a { display: block; padding: .5rem 0; position: relative; color: #ec8056; }
  .page-footer .footer-section__title a:hover { color: #ec8056; }
  .page-footer .footer-section__title a:after { display: block; }
  .page-footer .footer-section__title a.collapsed { color: #212529; }
  .page-footer .footer-section__title a.collapsed:hover { color: #212529; }
  .page-footer .footer-section__title a.collapsed:after { transform: rotate(-90deg); } }
@media (min-width: 992px) { .page-footer .footer-section__title a { display: inline-block; vertical-align: top; color: #212529; cursor: default; }
  .page-footer .footer-section__title a:hover { color: #212529; text-decoration: none; } }
@media (min-width: 992px) { .page-footer .footer-section__main { display: block !important; transition: none; height: auto; min-height: 0; }
  .page-footer .footer-section__main.collapse { display: block !important; }
  .page-footer .footer-section__main.collapse.show { display: block !important; } }
.page-footer .footer-section__menu { list-style: none; margin: 0; padding: 0; }
@media (max-width: 991px) { .page-footer .footer-section__menu { padding: 0 0 .75rem; } }
.page-footer .footer-section__menu li a { display: inline-block; vertical-align: top; line-height: 1.5; padding: .125rem 0; font-size: .875rem; font-weight: 400; color: #6c757d; transition: color .2s ease-in-out, padding .2s ease-in-out; }
.page-footer .footer-section__menu li a:hover { padding-left: 3px; text-decoration: none; color: #ec8056; }
.page-footer .footer-section__subcribe .subcribe-text { margin: .25rem 0 .75rem 0; font-size: .75rem; color: #6c757d; }
@media (min-width: 992px) { .page-footer .footer-section__subcribe .subcribe-text { margin: .25rem 0 1rem 0; font-size: .875rem; } }
.page-footer .footer-section__subcribe .subcrible-form .form-control:focus { box-shadow: 0 0 0; }
@media (max-width: 991px) { .page-footer .footer-section.footer-subcribe { padding: 1rem 0; text-align: center; } }
.page-footer .footer-social { margin-top: 1rem; }
@media (max-width: 991px) { .page-footer .footer-social { margin-top: 0; text-align: center; } }
.page-footer .footer-social__social { list-style: none; margin: 0; padding: .5rem 0; display: flex; }
@media (max-width: 991px) { .page-footer .footer-social__social { justify-content: center; } }
.page-footer .footer-social__social li { margin: 0 .5rem 0 0; }
.page-footer .footer-social__social li a { line-height: 1.125; font-size: 2rem; color: #212529; transition: color .2s ease-in-out; }
.page-footer .footer-social__social li a:hover { text-decoration: none; color: #ec8056; }
.page-footer .footer-copyright { font-size: .875rem; color: #495057; }
@media (max-width: 991px) { .page-footer .footer-copyright { text-align: center; } }

.front-footer { margin: 8rem 0 0; padding: .5rem 0; font-size: .875rem; color: #6c757d; }
@media (max-width: 575px) { .front-footer { text-align: center; margin: 10rem 0 0; } }

.block-si-form { position: relative; z-index: 30; padding: 1rem; }
@media (min-width: 992px) { .block-si-form { padding: 1rem 1.5rem; } }
.block-si-form a:hover { text-decoration: none; }
.block-si-form__header { display: flex; align-items: center; justify-content: space-between; margin: 0 0 2rem; }
.block-si-form .si-top-logo a { display: block; }
.block-si-form .si-top-logo a img { display: block; }
.block-si-form .si-top-action { padding-top: .5rem; }
.block-si-form .si-top-action a { display: block; font-size: 1.125rem; font-weight: 500; }
.block-si-form .si-top-action a:hover { text-decoration: none; }
.block-si-form .si-main__top { margin: 0 0 .75rem; }
.block-si-form .si-main__title { margin: 0; font-size: 1.25rem; font-weight: 600; }
@media (min-width: 992px) { .block-si-form .si-main__title { font-size: 1.5rem; } }
.block-si-form .si-main__subtitle { margin: .25rem 0 0; font-size: .875rem; font-weight: 300; }
@media (min-width: 992px) { .block-si-form .si-main__subtitle { font-size: 1rem; } }
.block-si-form .si-main__form .form-group { margin-bottom: .75rem; }
.block-si-form .si-main__divider { margin: .75rem 0; position: relative; }
@media (min-width: 992px) { .block-si-form .si-main__divider { margin: .25rem 0; } }
.block-si-form .si-main__divider:after { content: ""; display: block; position: absolute; height: 1px; width: 100%; top: 50%; left: 0; margin-top: -1px; z-index: 10; background-color: #e9ecef; }
.block-si-form .si-main__divider span { position: relative; display: block; width: 3rem; height: 3rem; margin: 0 auto; line-height: calc(3rem - 2px); font-size: .875rem; font-weight: 500; text-align: center; color: #6c757d; background-color: #fff; border: 1px solid #e9ecef; border-radius: 50%; z-index: 15; }
.block-si-form .si-main__social { padding: .5rem 0; }
@media (min-width: 992px) { .block-si-form .si-main__social { padding: .75rem 0; } }

.block-si-intro { position: relative; z-index: 20; background-color: #fcfcfc; }
.block-si-intro__wrap { padding: 2rem 5% 1rem; }
@media (min-width: 992px) { .block-si-intro__wrap { padding: 2rem 15% 1rem; } }
@media (min-width: 1440px) { .block-si-intro__wrap { padding: 3rem 25% 1rem; } }
.block-si-intro .si-intro-header { padding: 1rem 0; }
@media (min-width: 992px) { .block-si-intro .si-intro-header { padding: 1rem 0; } }
.block-si-intro .si-intro-action { margin: 1rem 0 0; }
@media (min-width: 992px) { .block-si-intro .si-intro-action { margin: 2rem 0 0; } }
.block-si-intro .si-intro-divider { margin: 1rem 0; height: 1px; background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%); background-size: 100% 1px; background-repeat: no-repeat; }
@media (min-width: 992px) { .block-si-intro .si-intro-divider { margin: 2.5rem 0; } }
.block-si-intro .si-intro-app { padding: 1rem 0; }
@media (min-width: 992px) { .block-si-intro .si-intro-app { display: flex; align-items: center; justify-content: center; padding: 1rem 0; } }
.block-si-intro .si-intro-app__screen { flex: 0 0 auto; }
.block-si-intro .si-intro-app__screen img { display: block; width: 180px; margin: 0 auto; }
@media (min-width: 992px) { .block-si-intro .si-intro-app__screen img { width: 200px; } }
.block-si-intro .si-intro-app__content { flex: 1 auto auto; min-width: 0; margin: 2rem 0 0; }
@media (min-width: 992px) { .block-si-intro .si-intro-app__content { margin: 1rem 0 0 4rem; } }
.block-si-intro .si-intro-app__title { margin: 0; font-size: 1.75rem; font-weight: 300; }
.block-si-intro .si-intro-app__download { margin: 1.5rem 0 0; }
.block-si-intro .si-intro-app__download a { display: inline-block; margin: .5rem 0; }
.block-si-intro .si-intro-footer { margin: 4rem 0 0; color: #6c757d; }

.block-hero__wrap { position: relative; margin-top: -72px; padding-top: 72px; }
.block-hero__background { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: white; background: linear-gradient(0deg, #ffffff 0%, rgba(251, 131, 50, 0.1) 25%, rgba(248, 195, 50, 0.08) 75%, #ffffff 100%); z-index: 10; }
.block-hero__background .hero-background { display: none; position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; overflow: hidden; }
@media (min-width: 992px) { .block-hero__background .hero-background { display: block; } }
.block-hero__background .hero-background__shape { position: absolute; will-change: transform; }
.block-hero__background .hero-background svg { -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; position: absolute; }
.block-hero__background .hero-background .stroke { fill: none; stroke: #fa6400; stroke-opacity: .4; stroke-width: 1; }
.block-hero__body { position: relative; z-index: 20; }
.block-hero__main { padding: 3rem 0; }
@media (min-width: 992px) { .block-hero__main { display: flex; align-items: center; justify-content: center; padding: 4rem 5% 4rem; } }
@media (min-width: 1200px) { .block-hero__main { padding-left: 8%; padding-right: 8%; } }
.block-hero__intro { padding: 0 2rem; }
@media (min-width: 768px) { .block-hero__intro { padding: 0 12.5%; } }
.block-hero__intro .hero-badge { margin: 0 0 2rem; }
.block-hero__intro .hero-badge span { display: inline-block; vertical-align: top; }
.block-hero__intro .hero-title span { display: inline-block; }
.block-hero__intro .hero-btns { margin: 2rem 0 0 0; }
@media (min-width: 576px) { .block-hero__intro .hero-btns { margin: 3rem 0 0 0; } }
.block-hero__intro .hero-btns .btn { margin: 0 .25rem; }
@media (max-width: 767px) { .block-hero__intro .hero-btns .btn { display: block; width: 80%; max-width: 320px; margin: .5rem auto; font-size: 1rem; } }
.block-hero__screenshot { margin: 0; }
@media (min-width: 576px) { .block-hero__screenshot { margin: 3rem 0 0; } }
.block-hero__screenshot .screenshot-wrap video { display: block; }

.block-ld { padding: 2rem 0; }
@media (min-width: 992px) { .block-ld { padding: 4rem 0; } }
.block-ld--bg-gradient-top { background-image: linear-gradient(180deg, #f5f5f5 5%, #ffffff 90%); }
.block-ld__header { padding: 0 1rem; }
@media (min-width: 768px) { .block-ld__header { padding: 0 8%; } }
@media (min-width: 992px) { .block-ld__header { padding: 0 12%; } }
@media (min-width: 1200px) { .block-ld__header { padding: 0 20%; } }
.block-ld__main { margin-top: 2rem; }
@media (min-width: 992px) { .block-ld__main { margin-top: 3rem; } }
.block-ld__footer { margin-top: 1rem; }
@media (min-width: 992px) { .block-ld__footer { margin-top: 2rem; } }

.block-features { margin: 2rem 0 0; padding: 2rem 0; }
@media (min-width: 992px) { .block-features { margin: 0; padding: 4rem 0; } }

.block-showcase { padding-bottom: 0; overflow: hidden; }
@media (min-width: 992px) { .block-showcase-acd { display: flex; justify-content: flex-end; position: relative; } }
.block-showcase .accordion-media__wrap { width: 100%; margin: 0 auto 2rem; height: 23.75rem; position: relative; }
@media (min-width: 576px) { .block-showcase .accordion-media__wrap { overflow: visible; } }
@media (min-width: 576px) { .block-showcase .accordion-media__wrap { margin: 0 auto; } }
@media (min-width: 992px) { .block-showcase .accordion-media__wrap { width: 47.5rem; height: 42.5rem; } }
.block-showcase .accordion-media img { display: block; max-width: 100%; height: auto; }
@media (min-width: 992px) { .block-showcase .accordion-media { display: block; flex: 1 1 auto; min-width: 0; margin: 0 2rem 0 0; } }
.block-showcase .accordion-media .showcase-wrap { position: absolute; top: 0; left: 0; width: 47.5rem; height: 47.5rem; opacity: 0; transition: opacity .5s ease-in-out; transform-origin: 0 0; margin-left: auto; margin-right: auto; }
@media (max-width: 991px) { .block-showcase .accordion-media .showcase-wrap { transform: scale(0.5); } }
@media (min-width: 992px) { .block-showcase .accordion-media .showcase-wrap { top: -5rem; left: -12rem; } }
@media (min-width: 1200px) { .block-showcase .accordion-media .showcase-wrap { top: -6rem; left: -5rem; } }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage { position: absolute; top: 0; left: 0; }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage__layer { transition-property: opacity margin; opacity: 0; }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage__layer:nth-child(1) { margin-top: 20px; transition-duration: 1s; transition-delay: .8s; }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage__layer:nth-child(2) { margin-top: -90px; transition-duration: .5s; transition-delay: .5s; }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage__layer:nth-child(3) { margin-left: 30px; transition-duration: .5s; transition-delay: .4s; }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage__layer:nth-child(4) { margin-top: -10px; margin-left: 35px; transition-duration: .6s; transition-delay: .6s; }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage__layer:nth-child(5) { margin-top: 15px; margin-left: -25px; transition-duration: .7s; transition-delay: .5s; }
.block-showcase .accordion-media .showcase-wrap .el-grp__montage__layer:nth-child(6) { margin-top: 30px; margin-left: -15px; transition-duration: .6s; transition-delay: .3s; }
.block-showcase .accordion-media .showcase-wrap.active { opacity: 1; }
.block-showcase .accordion-media .showcase-wrap.active .el-grp__montage__layer { margin: 0 !important; opacity: 1 !important; }
.block-showcase .accordion-showcase { padding: 0 1.5rem 3rem 1.5rem; }
@media (min-width: 992px) { .block-showcase .accordion-showcase { flex: 0 0 33%; padding: 5rem 0; height: 42.5rem; } }
.block-showcase .accordion-showcase__single { padding-left: 1rem; padding-right: 1rem; padding-bottom: 0; margin-bottom: .75rem; border-bottom: 1px solid #e9ecef; }
@media (min-width: 992px) { .block-showcase .accordion-showcase__single { padding-bottom: .75rem; margin-bottom: 1.5rem; } }
.block-showcase .accordion-showcase__single:last-child { padding-bottom: 0; margin-bottom: 0; border-bottom: 0; }
.block-showcase .accordion-showcase__single .showcase-item a:hover { text-decoration: none; }
.block-showcase .accordion-showcase__single .showcase-item__media { /*position: absolute;
top: 0;
left: 1rem;
width: 700px;
height: 100%;
display: flex;
align-items: center;*/ }
.block-showcase .accordion-showcase__single .showcase-item__title { position: relative; margin: 0 0 .75rem; line-height: 1.25; font-size: 1.25rem; font-weight: 700; }
@media (min-width: 992px) { .block-showcase .accordion-showcase__single .showcase-item__title { font-size: 1.5rem; } }
.block-showcase .accordion-showcase__single .showcase-item__title a { color: #212529; display: block; position: relative; color: #ec8056; transition: color .2s ease-in-out; cursor: default; }
.block-showcase .accordion-showcase__single .showcase-item__title a:before { display: block; position: absolute; line-height: 1.5rem; top: 50%; margin-top: -.75rem; left: -28px; content: "\F0140"; font-size: 1.5rem; color: #ec8056; transition: color .2s ease-in-out, transform .2s ease-in-out; }
.block-showcase .accordion-showcase__single .showcase-item__title a.collapsed { color: #212529; cursor: pointer; }
.block-showcase .accordion-showcase__single .showcase-item__title a.collapsed.collapsed:before { color: #212529; transform: rotate(-90deg); }
.block-showcase .accordion-showcase__single .showcase-item__main-wrap { padding: 0 0 1rem; }
.block-showcase .accordion-showcase__single .showcase-item__descr { margin: 0; color: #6c757d; }
.block-showcase .accordion-showcase__single .showcase-item__action { margin: 1rem 0 0; }
.block-showcase .accordion-showcase__single .showcase-item__action a.view-link { font-size: .875rem; font-weight: 500; transition: color .2s ease-in-out, padding-left .2s ease-in-out; }
.block-showcase .accordion-showcase__single .showcase-item__action a.view-link:hover { padding-left: 3px; }

.block-clients { padding: 2rem 0; }
@media (min-width: 992px) { .block-clients { padding: 2rem 0; } }
.block-clients__title { font-size: 1.5rem; font-weight: 700; color: #212529; }
@media (min-width: 992px) { .block-clients__title { font-size: 1.25rem; } }
.block-clients__list { margin: 2rem 0 0; }
.block-clients__list .single-client-logo { display: flex; align-items: center; justify-content: center; padding: .5rem 1rem; }
.block-clients__list .single-client-logo img { display: block; max-height: 4rem; max-width: 100%; filter: grayscale(100%); }

.block-cta { margin: 2rem 0 0; color: #fff; }
@media (min-width: 992px) { .block-cta { margin: 3rem 0 0; } }
.block-cta__wrap { margin: 0 -1rem; padding: 2rem 2rem; background-color: #495057; }
@media (min-width: 576px) { .block-cta__wrap { border-radius: 1rem; } }
@media (min-width: 992px) { .block-cta__wrap { margin: 0; padding: 2rem 3rem; } }
.block-cta .cta-title { color: #fff; }
.block-cta .cta-subtitle { color: #fff; }
.block-cta .cta-actions { white-space: nowrap; }
.block-cta .cta-actions .btn { margin: 0 0 0 .5rem; }

.block-front__header { padding: 2rem 0; }
@media (min-width: 768px) { .block-front__header { padding: 1rem 0; } }
@media (min-width: 992px) { .block-front__header { padding: 1rem 0; } }
@media (min-height: 992px) { .block-front__header { padding: 4rem 0 0; } }
.block-front__content { margin: 2rem 0 0; }
@media (min-height: 768px) { .block-front__content { margin: 3rem 0 0; } }
@media (min-height: 992px) { .block-front__content { margin: 4rem 0 0; } }
.block-front__title { color: #fff; }
.block-front__quote { color: #fff; }
.block-front__quote p { margin-bottom: .5rem; }

.block-pricing { padding-bottom: 1rem; }
.block-pricing--bg { background-color: #fff; background-image: url("../img/bg-pricing.jpg"); background-size: cover; background-repeat: no-repeat; background-position: bottom center; }
.block-pricing .block-ld__footer { margin-top: 5rem; }
@media (min-width: 992px) { .block-pricing .block-ld__footer { margin-top: 8rem; } }

@media (min-width: 992px) { .page-si__wrap { display: flex; height: 100vh; } }
@media (min-width: 992px) { .page-si .block-si-form { flex: 0 0 auto; max-height: 100%; overflow: auto; } }
.page-si .block-si-form a:hover { text-decoration: none; }
.page-si .block-si-form__wrap { max-width: 480px; margin: 0 auto; }
@media (min-width: 992px) { .page-si .block-si-form__wrap { width: 360px; } }
@media (min-width: 992px) { .page-si .block-si-intro { max-height: 100%; overflow: auto; flex: 1 1 auto; min-width: 0; max-height: 100%; } }

.page-front { position: relative; display: flex; flex-direction: column; align-items: center; justify-content: space-between; min-height: 100vh; background-color: #fff; }
.page-front__top { position: relative; z-index: 50; width: 100%; padding-bottom: 2rem; background-size: cover; background-position: center bottom; background-image: url("../img/bg-front.png"); }
.page-front__btm { width: 100%; }
.page-front__main { padding: 1rem 0; }
.page-front__footer { padding: 1rem 0; }
@media (min-height: 768px) { .page-front__footer { margin: 1rem 0 0; } }

/*# sourceMappingURL=main.css.map */
